body{
    background-color: #41B06E;
    font-family: serif;
}

#heading{
    background-color: #8DECB4;
    border: 1px solid black;
}

.bi{
    color: #E6FF94;
    height:30px;
    width:30px;
}